{% extends "/layouts/_base.html" %}
{% block content %}

<h1>Voorbereiden migratie van een site</h1>
<br>
<br>
<h3>Maak een keuze:</h3>

<div>
    <a href="{{ url_for('lcm.lcm_download_new_xls') }}" >Download een nieuw Excel bestand</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_upload_xls') }}">Upload een Excel bestand</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_download_current_xls') }}" >Download een bestaand Excel bestand</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_old_inventory') }}" class="patient">Maak een Ansible inventory van de bestaande machines</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_backup') }}" class="patient">Maak backups van de bestaande machines</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_generate') }} " class="patient">Genereer de configuraties</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_download_cfgs') }}">Download de configuraties</a>
</div>


{% endblock %}

