{% extends "/layouts/_base.html" %}
{% block content %}

<h1>Site management</h1>
<br>
<h3>Maak een keuze:</h3>

<div>
    <a href="{{ url_for('lcm.lcm_add_site') }}">Toevoegen van een site</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_delete_site') }}">Verwijderen van een site</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_get_sites') }}">Overzicht van de sites</a>
</div>
<br>
<div>
    <a href="{{ url_for('lcm.lcm_select_site') }}">Selecteren van een site</a>
</div>

<div>
    <a href="{{ url_for('lcm.lcm_create_scripting_env') }}">Klaarzetten scripting omgeving</a>
</div>


{% endblock %}

