<!DOCTYPE html>
<html>
<head>
    <title>LCM<</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
     <div id="logo"><img src="{{ url_for('static', filename='img/logo.svg') }}" </div>
     <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel">
            <div class="container">
              <a class="navbar-brand" href="#">R&S Automation</a>
                <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{{ url_for('admin.main_menu') }}">Home</a>
                  <a class="nav-item nav-link" href="#">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                  {% if session.logged_in %}
                  <a class="navbar-brand" href="#">Welkom {{session.username}}</a>
                  {% endif %}
		  <a class="nav-item nav-link" href="{{ url_for('admin.admin_menu') }}">Admin page</a>
                  <a class="nav-item nav-link" href="{{ url_for('admin.login') }}">Login</a>
                  <a class="nav-item nav-link" href="#">Change password</a>
		  <a class="nav-item nav-link" href="{{ url_for('admin.index') }}">Logout</a>
                </div>
            </div>
          </nav>
    </header>
    <div class="container">
        <div class="jumbotron">
           {% if g.breadcrumbs %}
	   {% for breadcrumb, breadcrumb_title in g.breadcrumbs|zip(g.breadcrumb_titles) %}
           <a href="{{ breadcrumb }}" >{{ breadcrumb_title  }}</a>
	   {% endfor %}
           {% endif %}
            <div class="status hidden">Even geduld a.u.b...</div>
            {% for message in get_flashed_messages() %}
            <div class="status">{{ message }}</div>
            {% endfor %}

            {% if error %}
            <div class="error"><strong>Error:</strong> {{ error }}</div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type=text/javascript>
        $(document).ready(function(){
          $(".patient").click(function(){
            $("div").removeClass("hidden");
          });
        });
    </script>
</body>
</html>
